<section>
  <h2><%= @work.title %></h2>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.publication %></p>
  <p><%= @work.description %></p>
  <section>
    <%= button_to "Back to media ranks", root_path,
        method: "get", class: "btn btn-primary"
    %>
    <%= button_to "Edit", edit_work_path(@work),
        method: "get", class: "btn btn-primary"
    %>
    <%= button_to "Upvote", upvote_work_path(@work),
        method: "get", class: "btn btn-primary"
    %>
    <%= button_to "Delete", work_path(@work),
        method: :delete, class: "btn btn-danger",
        data: {confirm: "Are you sure?"}
    %>
  </section>
</section>

<section class="works-votes__container">
  <h3 class="works-votes__header"><%= @work.votes %> Votes for this <%= @work.category.capitalize %></h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @work.users.each do |user|  %>
        <tr>
        <%# Suely - fix user here later %>
          <td><%= link_to user.name, user_path(user.id) %></td> 
          <td><%= user.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>